{{!< default}}
<div class="container">
	<div class="row">
		<div class="col-sm-2">
			<img src="http://asopa.typepad.com/.a/6a00d83454f2ec69e201b8d19f139e970c-250wi" width="160" />
		</div>
		<div class="col-sm-10">
			<h1>Welcome</h1>
			<p>This is the Trukai Facebook Jobs Page</p>
		</div>
	</div>
</div>
