{{!< default}}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3">
			<img src="/images/trukai logo.png" width="160" />
		</div>
		<div class="col-sm-9">
			<div class="container-fluid">
				<div class="row">
					<h1>Welcome</h1>
					<p>This is the Trukai Facebook Jobs Page</p>
				</div>
				<div class="row">
					{{!< job}}
				</div>
			</div>
		</div>
	</div>
</div>
