#header {
	// margin-top: 30px;
	/*height: 52px;*/
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
    background: black;
}

.job-image.featured-image {
    width: 100%;
    height: 250px;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-position: center;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

.jobs-wrapper > div:nth-child(odd) {
    border-bottom: 2px solid gray;
}

.jobs-wrapper > div:nth-child(even) {
    border-bottom: 2px solid lightgray;
}

@media (min-width: 480px) {
    .jobs-wrapper > div {
        width: 100%
    }
}

@media (min-width: 768px){    
    .jobs-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 1em;
    }
}

@media (min-width: 992px) {    
    .jobs-wrapper {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 1em 5em;
    }
}

/*@media (min-width: 1200px) {
    .jobs-wrapper {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 1em 5em;
    }

    .jobs-wrapper > div:nth-child(odd) {
        border-bottom: 2px solid gray;
    }

    .jobs-wrapper > div:nth-child(even) {
        border-bottom: 2px solid lightgray;
    }
}*/

.page-heading {
    text-transform: uppercase;
    text-align: center;
    background: #4C0808;
    color: white;
    padding: 1em 0em 2em 0em;
    border-bottom: 5px solid #E54545;
}

.panel-dark {
    background: rgba(184, 185, 197, 0.16);
}
.padded {
	padding: .5em 2em;
}
#sb-apply-now {
    border-bottom: 8px solid darkgray;
}
.btn-clear {
    background: rgba(0,0,0,0);
}
.container-float {
    position: absolute;
    float: right;
    font-size: 2em;
    display: flex;
    line-height: 1.5em;
    flex-flow: column;
    top: 1em;
    left: 1em;
}
.flex-center {
    display: flex;
    align-items: center;
    flex-basis: auto;
    flex-direction: column;
}